@charset "utf-8";
/* -------------------------------------------------
 * form scss
 * -------------------------------------------------
*/


//变量
//----------------------------------------
$formItemMargin:           $baseGap / 2 !default;//上下元素的间距
$labelWidth:               100px !default;//当label和元素同行时，label的宽度
$inputTextWidth:           200px !default;//输入框的宽度
$textarea:                 500px 80px !default;//文本域宽度和高度
$eleHeight:                28px !default;//输入框的高度，label的高度，选择框的高度...
$inlineMargin:             5px !default;//相邻同行元素的间距
$uploadBgColor:            $blue !default;// upload按钮默认背景颜色
$iconRequiredLeft:         true !default;// 必填的红色星号标志放label左边还是右边，true为左，false为右
$inputDisabledBgColor:     $grayLight !default;//禁用元素的背景色
$enableMessageBg:          true !default;//对warning,error,sucess是否开启背景，默认不开启,背景图片使用base64，ie8+支持



//mixin
//----------------------------------------

//radio & checkbox 的重置
@mixin resetRadioCheckbox{
	margin:0 5px 0 0;
	padding:0;
	font-size:13px;	
	//ie6,7得设置宽度和高度才能表现和其他浏览器一样的重置
	//radio和checkbox的大小为13px
	@if $lte7 {
		width:13px;
		height:13px;
	}
}

//默认的样式mixin定义
//定义了border，padding及圆角
@mixin eleBorder($borderColor:$gray, $radius:$baseRadius){
	border: 1px solid $borderColor;
    @include border-radius($radius);
	padding:4px;
}

// 边框及阴影的动画效果
@mixin eleborderTransition(){
	@include eleBorder;
	@include transition(border linear 0.2s, box-shadow linear 0.2s);
	@include box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.1));

	&:focus{
		border-color: rgba(82, 168, 236, 0.8);
		@include box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6));
	}
}

//表单按钮
@mixin btn(){
	@include inline-block;
	cursor: pointer;
	text-align:center;
    padding:0 16px;
	font-size:14px;
	@include border-radius;
}

// status message
//基础样式mixin
@mixin tipsMessageBasic(){
	border: 2px solid $gray;
    margin-bottom: $formItemMargin;
    padding:8px;
    @include border-radius;

    a{
    	text-decoration:underline;
    }

    @if $enableMessageBg {
    	padding-left:25px;
    	background-position: 5px center;
    	background-repeat: no-repeat;
    }
} 
// 状态信息配色方案，包括边框颜色，背景色，文本颜色
@mixin tipsMessageSkin($borderColor, $bgColor, $textColor){
    background-color:$bgColor;
    border-color: $borderColor;
    color: $textColor;

    a{
    	color: $textColor;
    }
}
// form item 状态
// item里面的文字及border统一换色
@mixin formItemState($textColor: #555, $borderColor: #ccc) {
  // Set the text color
  label,
  .form-des{
    color: $textColor;
  }
  // Style inputs accordingly
  .checkbox,
  .radio,
  input,
  select,
  textarea {
    color: $textColor;
  }
  input,
  select,
  textarea {
    border-color: $borderColor;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075)); // Redeclare so transitions work
    &:focus {
      border-color: darken($borderColor, 10%);
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten($borderColor, 20%));
    }
  }
}


//默认表单
//label独立一行
//----------------------------------------
.form{
	font-size: 12px;
	margin-bottom: $formItemMargin;
	fieldset {
	  padding: 0;
	  margin: 0;
	  border: 0;
	}
	legend {
	  display: block;
	  width: 100%;
	  padding: 0;
	  margin-bottom: $formItemMargin;
	  font-size: $baseFontSize * 1.5;
	  line-height: $baseLineHeight * 2;
	  color: $grayDark;
	  border: 0;
	  border-bottom: 1px solid #e5e5e5;
	}
	input, button, textarea{
		vertical-align:middle;
	    margin-bottom:$formItemMargin;
	    font-family:$baseFontFamily;
	}
	textarea{
		resize:none;
		vertical-align:top;
		overflow:auto;
		width:nth($textarea,1);
		height:nth($textarea,2);
	}
	label{
		display: block;
		font-size:14px;
		line-height:$eleHeight;
	}
	input:focus, textarea:focus, select:focus{
		outline: 0 none;
	}
	.form-radio, .form-checkbox{
		@include resetRadioCheckbox;	
	}
	.form-item{
		margin-bottom:$formItemMargin;
		clear: both;
		@extend %clearfix;
	}
	.form-text{
		margin-top:0;
		margin-bottom: 0;
		width:$inputTextWidth;
		height:$eleHeight - 10px;//padding:4px;border-width:1px;
	}
	.form-text, textarea{
		@include eleborderTransition;
		@include placeholder;
	}
	select{
		@include eleBorder;
		// select lte ie7
		// ie6,7 不支持select的padding
		@if $lte7 {
		    *margin-top:($eleHeight - 18px) / 2;
		    *margin-bottom:($eleHeight - 18px) / 2;
		    *vertical-align:top;
		}
	}	
	.form-field-rc, input, textarea, select, .form-text{
		margin-bottom: $formItemMargin;
	}
	.form-item{
		.form-field-rc, input, textarea, select, .form-text{
			margin-bottom: 0;
		}
		select{
			@if $lte7 {
		    	*margin-bottom:($eleHeight - 18px) / 2;
			}
		}
	}

	// 将upload简化为一个点击按钮，大小为70px/28px，各浏览器表现良好
	// 得使用js来配合显示其上传的路径
	.file-wrap{
		@include inline-block;
		padding: 0px;
		width: 70px;
		height: 28px;
		background-color: $uploadBgColor;
		position: relative;
		overflow: hidden;
		border-radius: 3px;

		.replace-text{
			display: block;
			line-height: 28px;
			cursor: pointer;
			color: #fff;
			text-align: center;
		}
		.form-file{
			opacity: 0;
			filter: alpha(opacity=0);
			width: 70px;
			height: 28px;
			left: 0;
			top: 0;
			display: block;
			cursor: pointer;
			position: absolute;
			z-index: 1;
		}
		&:hover{
			background-color: darken($uploadBgColor,10%);
		}
	}

	//radio & checkbox
	.form-field-rc{
		label{
		    @include float;
		    text-align: left;
		    width: auto;
			font-weight:normal;
			margin:0 $inlineMargin 0 0;
		    line-height:$eleHeight - 10px;// input height
		    font-size:12px;
		}
		.field-list-block{
			display:block;
			float: none;
			margin:0 0 $inlineMargin 0;
			overflow:auto;
			@if $lte7 {
				*zoom:1;
			}
		}
		.field-list-block:last-child{
			margin-bottom: 0;
		}
		.form-radio,
		.form-checkbox,
		span{
			@include float;
		}
		.form-radio,
		.form-checkbox{
    		margin-top:($eleHeight - 10px - 13px) / 2;
		}
	} 
	
	//提交操作按钮
	.form-action{
		clear:both;
		text-align: center;

		.inputbtn{
			margin-bottom: 0;
			margin-right: 10px;
		}
	}
	.action-left{
		text-align: left;
	}
	/*form-required*/
	.icon-required{
		color: $red;
		@if $iconRequiredLeft {
			margin-right: 5px;
		} @else {
			margin-left:5px;
		}
	}
	/* codePic */
	.code-pic{
		@include inline-block;
		img{
			height:$eleHeight;
			vertical-align:middle;
			margin:0 $inlineMargin;
		}
	}
	/* inline */
	.inline-ele{
	    margin-right:$inlineMargin;
	}
	.inline-item{
		@include float;
		clear:none;
	}
	/*inputbtn*/
	.inputbtn{
	    @include btn;
	    border:0 none;
	    height:$eleHeight;
	    overflow:visible;
	}
	.btn{
		@include btn;
		line-height:$eleHeight;
		text-decoration: none;
	}
	.greybtn{
		border:1px solid $gray;
		color:#666;
		background-color: #eee;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		@include gradient-vertical(#fff,#e6e6e6);
		@include box-shadow(inset 0 1px 1px #fff,0 0 1px #fff inset);

		&:hover{
			background:#e6e6e6;
		}
	}
	.p-bluebtn {
		color: #fff;
		background-color: #1081DD;
		&:hover{
			background-color: #2597f4;
		}
	}
	.p-greybtn{
		background-color: #eee;
		color: #444;
		&:hover{
			background-color: #e6e6e6;
		}
	}
	/* 注册链接 */
	.link-register{
		@include inline-block;
		line-height: $eleHeight;
		vertical-align: top;
	}
	/* description */
	.form-des{
		color: $grayDark;
		margin-left:$inlineMargin;
	}
	p.form-des{
		margin:0;
		line-height: $eleHeight;
	}
	// Disabled and read-only inputs
	input[disabled],
	select[disabled],
	textarea[disabled],
	input[readonly],
	select[readonly],
	textarea[readonly],
	.disabled{
	  cursor: not-allowed;
	  background-color: $inputDisabledBgColor;
	}
	// Explicitly reset the colors here
	input[type="radio"][disabled],
	input[type="checkbox"][disabled],
	input[type="radio"][readonly],
	input[type="checkbox"][readonly] {
	  background-color: transparent;
	}
}


//form-inline
//单行表单,所有的元素一行显示，用于单行登录表单
//----------------------------------------
.form-inline{
	@extend %clearfix;

	*{
		@include float;
		margin-right:$inlineMargin;
		margin-bottom: 0;
	}
	.form-radio, 
	.form-checkbox{
		margin-top: ($eleHeight - 13px) / 2;
	}
} 


/* 火狐bug 最新版本已经修复了这两个问题 */
// @-moz-document url-prefix(){
// 	.form{
// 		.file-wrap .form-file{
// 			left:-10px;
// 		}
// 		.inputbtn{
// 			padding-bottom:3px;
// 		}
// 	}
// }


// form-horizontal
//label与input元素同行表单
//----------------------------------------
.form-horizontal{
	label{
		@include float;
	    text-align: right;
		width:$labelWidth;
	}
	.form-field, 
	.action-left{
		margin-left: $labelWidth;
	}
	.form-field-rc{
	    margin-top:5px;
	}
}

// form messages
//----------------------------------------
.form{
	/* block status tips */
	.error, .alert, .warning, .success, .info {
	    @include tipsMessageBasic;
	}
	/* span inline status tips */
	span.error, span.alert, span.warning, span.success, span.info {
	    @include inline-block;
	    border-width:1px;
		line-height:$eleHeight - 2px;
		vertical-align:middle;
		padding:0 5px;
		margin:0 0 0 $inlineMargin;
		
		@if $enableMessageBg {
	    	padding-left:25px;
	    }
	}
	.error, .alter{
		@include tipsMessageSkin($errorBorder, $errorBgColor, $errorText);
		@if $enableMessageBg {
	    	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAKlBMVEX////XY1Hma1rsfGbzhm3vloXwqZz3uanxwLX4z8f76+j//v7////KWkTZGHxrAAAAAXRSTlMAQObYZgAAAAFiS0dEDIGzUWMAAAAJcEhZcwAACxMAAAsTAQCanBgAAACSSURBVHheTc4xC4JAAEDhBwaZUy5tQYgYrl0QBW3aUNvh5WqEBI2WzbU2FbS5SESEa/QT2htb/C/R5pve+FHpEXhHgIa32okTcAkDP3XB8FNPhDJHH0xvw2cSUYv7RSZVB20rZm/L+aBtRFb0/qPc1+iqmtS7jrQOiwjDTiyzNc7hPJH28gvo5jwu9wD3drmuGH4w6SDkKQ/JcAAAAABJRU5ErkJggg==);
	    }
	}
	.success{
		@include tipsMessageSkin($successBorder, $successBgColor, $successText);
		@if $enableMessageBg {
	    	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAMFBMVEX///88kTZIoTZnuktxwGB+xG2Vyoag1pSr2J2y26e64LPT4c7j8OD9/vz///80fTAtdG2AAAAAAXRSTlMAQObYZgAAAAFiS0dEDm+9ME8AAAAJcEhZcwAACxMAAAsTAQCanBgAAACcSURBVHheTY6vCsJQHIUPLih6g/gCJotFmEMw+1PwRrmiQ8SBfxhilctewGRSh1XDjBZ9gCXBF1j0Ce5A65J3baecD074DjJ5d5r7tEuWdzYvAB7r7ehWB1grEEN7EKLABVFwdGBIQVytysj5/HmPxl8NUxUvNBiy+4ksPeXbNJnTwQGrnYj6sxC42suenwAoVtxdI1XgVf1tMh/++cUnmPeAc0MAAAAASUVORK5CYII=);
	    }
	}
	.warning{
		@include tipsMessageSkin($warningBorder, $warningBgColor, $warningText);
		@if $enableMessageBg {
			background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAM1BMVEX////4ol3+lDf8nEP7hTH3sHb8uHr9x5HvgjTccCbxdCv0ey365M/98ur////UZyH41bQKCY76AAAAAXRSTlMAQObYZgAAAAFiS0dEDm+9ME8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAB/SURBVHhebc83FoRQDENR5Phj2P9qR3CYDnfvqvL1efNAFTn/PaCRGaLnbY6hNNgjE0jVtUQSZRJS2TdQShIQoSIEM6AQJNkE48Um2A02lvXeH1AHN8/eGlAJWdKsr9Vai+qEWcAVYJc9CNepGkywD/ORCndU9nvD697bx+fnP09wBLDgAeJUAAAAAElFTkSuQmCC);
		}
	}
	.info{
		@include tipsMessageSkin($infoBorder, $infoBgColor, $infoText);
		@if $enableMessageBg{
			background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAM1BMVEX///9YjONeju9qlex7ou2Fqe+UsvCkvffc5PXw9f67y/FNe9FDb8rE0/H///+wxPK4ye8p1NT7AAAAAXRSTlMAQObYZgAAAAlwSFlzAAALEwAACxMBAJqcGAAAAIVJREFUeF5tj8kOg0AMQ2tnnQ36/1/bDNAbPkR6T0rkfF7Tuoro2f6cKh7hIuthsTCpobhMUwvm0Zxl9tYpQXZfjQxECXVjxQ/SDCUYsrmtPeclWDk6gVvItZIGQG3sowgSXQHE8BINGkBqsczcRdbQMECLv3fVPoa52yh+kj7mnJ6vn/8A/N4D4ObQweQAAAAASUVORK5CYII=);
		}
	}

	//item status
	.item-warning {
	  @include formItemState($warningText, $warningBorder);
	}
	.item-error {
	  @include formItemState($errorText, $errorBorder);
	}
	.item-success {
	  @include formItemState($successText, $successBorder);
	}
	.item-info {
	  @include formItemState($infoText, $infoBorder);
	}
}
