@charset "UTF-8";
/* -------------------------------------------------
 * layout scss
 * -------------------------------------------------
*/

.page{   
	min-height:100%;
	height:auto !important;
	height:100%;
	width:100%;
	min-width:get_width(12,false);
}
#header,#container,#main,#footer,#top_nav{
    width:get_width(12,false);
}
#header,#container,#footer,#top_nav{
	margin-left:auto;
	margin-right:auto;
}
#container{
    padding:10px 0;  
}
#main,#aside_second,#aside_first{
	@include float;
}
@if $_percentLayout{
	#header,#footer{
		.add-inner{
			@extend %marginLeftRight;
		}
	}
}

//单边栏
//----------------------------------------

//左边栏
#aside_first{
	@if $_percentLayout{
		@include column(3);
	}@else{
		width: get_width(3,false);
	}
}
.layout-lm #main{
	@if $_percentLayout{
		@include column(9);
	}@else{
		width: get_width(9,false);
		.add-inner{
			margin-left:$_gutter;
		}
	}
}

//右边栏
#aside_second{
	@if $_percentLayout{
		@include column(3);
	}@else{
		width: get_width(3,false);
	}
}
.layout-mr #main{
	@if $_percentLayout{
		@include column(9);
	}@else{
		width: get_width(9,false);
		.add-inner{
			margin-right:$_gutter;
		}
	}
}


//两边栏
//----------------------------------------
.layout-lmr #main{
	@if $_percentLayout{
		@include column(6);
	}@else{
		width: get_width(6,false);
		.add-inner{
			margin-right:$_gutter / 2;
			margin-left:$_gutter / 2;
		}
	}
}