@charset "UTF-8";
/* -------------------------------------------------
 * reset adjust
 * -------------------------------------------------
*/  
html { 
  overflow-y: scroll; 
  -webkit-overflow-scrolling: touch; 
  -webkit-tap-highlight-color: rgba(0,0,0,0); //iOS(iPhone和iPad)
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%; 
}
body { 
  font-size: $baseFontSize;
  line-height: $baseLineHeight; 
  color:$textColor;
  background-color:$bodyBgColor;
}
body, 
button, 
input, 
select, 
textarea{
  font-family: $baseFontFamily;
}
img {
  border:0 none;
  vertical-align: middle;
}
textarea {
  resize: vertical;
}
h1,h2,h3,h4,h5,h6,p,figure,form {
  margin:0;
}
/* ul ol dl */
ul,ol,li,dl,dd{
  margin: 0;
  padding:0;
}
ul,ol{
  list-style: none outside none;
}

//print style
//html5 boilerplate:http://html5boilerplate.com/
//----------------------
@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}