@charset "UTF-8";

//开关设置
// -------------------------
$lte7:                  true !default; //是否兼容ie6-7
$filter:                true !default; //是否为ie6-8开启css3滤镜兼容，常用于渐变背景 
$articleStyle:          true !default; //是否为详细页文本开启不同文字排版
$printStyle:            true !default; //是否开启打印样式


//font相关
// -------------------------
$baseFontSize:          14px !default;
$baseLineHeight:        1.5 !default;
$baseFontFamily:        "Helvetica Neue", Helvetica, Tahoma, sans-serif !default;
$fontCn:                "SimSun"; //宋体
$fontYaHei:             "Microsoft Yahei"; //微软雅黑
$fontHeiTi:             "SimHei"; //黑体

//basic color
// -------------------------
$black:                 #000 !default;
$grayDarker:            #333 !default;
$grayDark:              #999 !default;
$gray:                  #ccc !default;
$grayLight:             #eee !default;
$white:                 #fff !default;

$red:                   #9d261d !default;
$blue:                  #00A3CF !default;
$blueDark:              #0064cd !default;
$orange:                #F47837 !default;
$green:                 #51B148 !default;
$yellow:                #ffc40d !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;


//link
// -------------------------
//color function : http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html
//     lighten($color, $amount)
//     darken($color, $amount)
//     opacify($color, $amount)
//     mix($color1, $color2[, $amount])
$linkColor:             #08c !default;
$linkColorHover:        darken($linkColor, 15%) !default;



// Scaffolding
// -------------------------
$bodyBgColor:           $white !default;
$textColor:             $grayDarker !default;


// status color
// -------------------------
$warningText:           #514721 !default;
$warningBgColor:        #FFF6BF !default;
$warningBorder:         #FFD324 !default;

$errorText:             #8A1F11 !default;
$errorBgColor:          #FBE3E4 !default;
$errorBorder:           #FBC2C4 !default;

$successText:           #264409 !default;
$successBgColor:        #E6EFC2 !default;
$successBorder:         #C6D880 !default;

$infoText:              #205791 !default;
$infoBgColor:           #D5EDF8 !default;
$infoBorder:            #92CAE4 !default;


//radius
// -------------------------
$baseRadius:            4px !default;
$smallRadius:           3px !default;
$largeRadius:           8px !default;
